/* Text Color Variables */

$text-primary: #336666;

$text-orange: #f17e01;

$text-dark: #6f8197;

$text-white: #ffffff;

$text-black: #000000;

$text-dark01: #333;

$text-evening: #11a696;

$text-night: #db9d20;

$text-grey-light: #6b6b6b;

/* Background Color Variables */

$bg-primary: #6f8197;

$bg-dark01: #333;

$bg-orange: #f17e01;

$bg-orange-light: #f17e0126;

$bg-yellow: #ffd75c;

$bg-light: #ced4da;

$bg-dark: #6f8197;

$bg-info: #f61d1d;

$bg-white: #ffffff;

$bg-black: #000000;

$bg-sidebar: #ffffff;

$bg-danger: #e60b0b;

$bg-success: #00c331;

$bg-grey-light: #e6e6e6;

/* Border Color Variables */

$border-orange: #f17e01;

$border-primary: #333;

$border-light: #ced4da;

$border-dark01: #878787;

$border-white: #ffffff;

$border-black: #000000;

// Fonts Start

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Medium.eot");
  src: url("../fonts/Quicksand-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Quicksand-Medium.woff2") format("woff2"),
    url("../fonts/Quicksand-Medium.woff") format("woff"),
    url("../fonts/Quicksand-Medium.ttf") format("truetype"),
    url("../fonts/Quicksand-Medium.svg#Quicksand-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.eot");
  src: url("../fonts/Quicksand-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Quicksand-Regular.woff2") format("woff2"),
    url("../fonts/Quicksand-Regular.woff") format("woff"),
    url("../fonts/Quicksand-Regular.ttf") format("truetype"),
    url("../fonts/Quicksand-Regular.svg#Quicksand-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Bold.eot");
  src: url("../fonts/Quicksand-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Quicksand-Bold.woff2") format("woff2"),
    url("../fonts/Quicksand-Bold.woff") format("woff"),
    url("../fonts/Quicksand-Bold.ttf") format("truetype"),
    url("../fonts/Quicksand-Bold.svg#Quicksand-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Light.eot");
  src: url("../fonts/Quicksand-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Quicksand-Light.woff2") format("woff2"),
    url("../fonts/Quicksand-Light.woff") format("woff"),
    url("../fonts/Quicksand-Light.ttf") format("truetype"),
    url("../fonts/Quicksand-Light.svg#Quicksand-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-SemiBold.eot");
  src: url("../fonts/Quicksand-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Quicksand-SemiBold.woff2") format("woff2"),
    url("../fonts/Quicksand-SemiBold.woff") format("woff"),
    url("../fonts/Quicksand-SemiBold.ttf") format("truetype"),
    url("../fonts/Quicksand-SemiBold.svg#Quicksand-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

//----- loader CSS Start
.loader-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.rotating-loader {
  animation: rotate 0.6s linear infinite;
  width: 5%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
//----- loader CSS End

// Custom Select Common SCSS - Start
.custom-select {
  box-shadow: none !important;
  height: 38px;

  &:hover {
    border-color: $border-black;
  }
  &.p-component {
    input {
      border-bottom: none !important;
      border-radius: 6px !important;
      background-color: transparent !important;
    }
  }

  .p-multiselect-label {
    font-size: 14px;
    line-height: 12px;
  }
}

.custom-select:not(.p-disabled).p-focus {
  box-shadow: none;
  border-color: $border-black;
}
.custom-select:not(.p-disabled):hover {
  border-color: $border-black;
}
.p-focus {
  border-color: $border-light;
}
// Custom Select Common SCSS - End

// title Text Common SCSS - Start
.title-text {
  text-align: start;

  h6 {
    font-size: 16px;
    font-weight: 600;
    color: $text-black;
    margin-bottom: 0;
  }

  p {
    font-size: 14px;
  }
}
// title Text Common SCSS - End

// Breadcrumb  Common SCSS - Start
.breadcrumb {
  padding-bottom: 15px;
  margin-bottom: 0;

  .breadcrumb-item {
    color: $text-black;
    font-size: 13px;
    font-weight: 500;
    &.active {
      color: $text-black;
      font-weight: 500;
    }

    a {
      color: $text-orange;
      text-decoration: none;
    }
  }
}
// Breadcrumb  Common SCSS - End

// Title Main  Common SCSS - Start
.title-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title-text {
    position: relative;
    padding-left: 10px;
    ::before {
      position: absolute;
      content: "";
      width: 4px;
      height: 100%;
      background-color: $bg-orange;
      top: 0;
      left: 0px;
    }
    h3 {
      font-size: 16px;
      font-weight: 550;
      margin-bottom: 0;
      color: $text-black;
    }
  }
}
// Title Main  Common SCSS - End

// Button Style Common SCSS - Start
.btn-style-primary {
  background: $bg-primary !important;
  color: $text-white;
  font-weight: 500;
  padding: 6px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .btn-icon-style {
    width: 30px;
    height: 30px;
    background-color: $bg-white;
    line-height: 30px;
    border-radius: 5px;

    svg {
      width: 20px;
      color: $text-primary;
    }
  }
}

.btn-style-primary2 {
  background: $bg-white !important;
  color: $text-dark01 !important;
  border-color: $bg-dark01 !important;
  font-weight: 500;
  padding: 6px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  &:hover {
    box-shadow: none;
    color: $text-dark01 !important;
  }

  .btn-icon-style {
    width: 30px;
    height: 30px;
    background-color: $bg-dark01;
    line-height: 30px;
    border-radius: 5px;

    svg {
      width: 20px;
      color: $text-white;
    }
  }
}

.btn:disabled {
  border: none !important;
}
// Button Style Common SCSS - End

// Custom Calender Common SCSS - Start
.custom-calender {
  line-height: 10px !important;
  border: none;

  &:hover {
    border-color: $border-light;
  }

  &:focus {
    border-color: $border-black;
  }
}

.p-calendar.p-invalid.p-component > .p-inputtext {
  border-color: $bg-danger !important;
}

.p-datepicker
  .p-datepicker-header
  .p-datepicker-title
  .p-datepicker-year:enabled:hover,
.p-datepicker
  .p-datepicker-header
  .p-datepicker-title
  .p-datepicker-month:enabled:hover {
  color: $text-orange;
}
.p-datepicker:not(.p-disabled)
  .p-monthpicker
  .p-monthpicker-month:not(.p-disabled):focus,
.p-datepicker:not(.p-disabled)
  table
  td
  span:not(.p-highlight):not(.p-disabled):focus {
  box-shadow: none;
}

.p-datepicker:not(.p-disabled)
  .p-yearpicker
  .p-yearpicker-year:not(.p-disabled):focus {
  box-shadow: none;
}

.p-calendar {
  width: 100%;
  box-shadow: none !important;

  input {
    border: 1px solid $border-light !important;
  }
}

.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
  box-shadow: none;
  border: 1px solid $text-black;
}
// Custom Calender Common SCSS - End

// Custom postion Select, MultiSelect, Datepicker Common SCSS - Start
.p-component .p-multiselect-header {
  display: none;
}

.p-multiselect-panel,
.p-datepicker,
.p-dropdown-panel {
  z-index: 9999 !important;
}
// Custom postion Select, MultiSelect, Datepicker Common SCSS - Start

//------ Modal Common SCSS Start
.modal {
  .modal-content {
    .custom-calender,
    .p-calendar {
      line-height: 10px !important;
      border: none;
      input {
        height: 38px;
        color: $text-black;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid $border-light;

        &:focus {
          outline: none;
          box-shadow: none;
          border-color: $text-primary;
        }
      }
    }

    .custom-select {
      line-height: 0.8;
      input {
        height: 38px;
        color: $text-black;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid $border-light;

        &:focus {
          outline: none;
          box-shadow: none;
          border-color: $text-primary;
        }
      }
    }
  }
}
//------ Modal Common SCSS End

//----- Auth-section CSS Start
.auth-section {
  max-height: 100vh;
  height: 100%;
  min-height: 100vh;

  .auth-box {
    height: 100vh;

    .auth-row {
      height: 100vh;
    }

    .auth-img {
      img {
        height: 100%;

        object-fit: cover;
      }
    }

    .auth-form {
      padding: 50px 100px;
      background-size: cover;
      height: 100%;
      position: relative;

      @media screen and (max-width: 767px) {
        padding: 15px;
      }

      .main-form {
        background: $bg-white;
        width: 80%;
        margin: 0 auto;
        padding: 10px 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media screen and (max-width: 992px) {
          position: relative;
          top: 0;
          left: 0;
          transform: none;
          width: 100%;
        }
      }

      .section-title {
        position: relative;
        padding-left: 20px;
        margin-bottom: 20px;
        text-align: start;
        &:before {
          content: "";
          position: absolute;
          width: 4px;
          height: 100%;
          background-color: $bg-orange;
          bottom: 0;
          left: 0px;
          top: 0;
        }
        text-align: start;
        h2 {
          font-weight: 600;
          font-size: 22px;
          position: relative;
        }

        p {
          font-size: 16px;
          font-weight: 400;
        }
      }

      form {
        padding: 20px;
        background: $bg-white;
        box-shadow: 0 0 15px 0px rgb(220 220 220 / 75%);
        .field-set {
          position: relative;
          .input-icon {
            left: 0;
            top: 50%;
            cursor: pointer;
            transform: translateY(-50%);

            svg {
              color: $text-orange !important;
            }
          }
          .show-hide-icon {
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
          }
          svg {
            font-size: 16px;
            color: #767676;
          }
        }

        label {
          font-size: 16px;
          color: $text-black;
          font-weight: 500;
        }

        input {
          padding: 0.375rem 2.25rem 0.375rem 0.75rem;
          border: 0;
          padding-left: 25px;
          background-color: $bg-white;
          border-bottom: 1px solid $border-light;
          color: #8d8d8d;
          border-radius: 0px;
          width: 100%;
          text-align: left;
          font-size: 16px;
          font-weight: 500;
          color: $text-black;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          height: inherit;
          line-height: 1.5;
          box-shadow: none !important;

          &:focus {
            box-shadow: none;
            outline: none;
            border-color: $border-primary;
          }

          &.form-check-input {
            height: 20px;
            width: 20px;
            border-radius: 2;
          }
        }

        a {
          color: $text-orange;
          font-weight: 500;
          font-size: 16px;
          text-decoration: none;
        }

        button {
          border-radius: 6px;
          padding: 6px 28px;
          font-size: 16px;
          font-weight: 600;
          text-decoration: none;
          cursor: pointer;
          text-transform: uppercase;
          margin-right: 10px;
          outline: none;
          transition: all 0.3s;
          &:hover {
            box-shadow: inset 5em 0 0 0 $bg-orange, inset -5em 0 0 0 $bg-orange;
            border-color: $bg-orange;
            color: $text-white;
          }
        }

        .btn-full-width {
          transition: 0.5s;
          &:hover {
            box-shadow: inset 20em 0 0 0 $bg-orange,
              inset -20em 0 0 0 $bg-orange;
            border-color: $bg-orange;
            color: $text-white;
          }
        }

        .otp-input-group {
          gap: 5px;

          input {
            height: 36px;
            padding: 0px;
            border: 1px solid $border-light;
            border-radius: 6px;
            width: 36px;
            @media screen and (max-width: 767px) {
              width: 35px;
              height: 35px;
            }
          }
        }
      }

      .auth-link {
        font-size: 18px;
        color: $text-black;
        font-weight: 500;

        a {
          color: $text-primary;
          text-decoration: none;
        }

        span {
          color: $text-orange;
          cursor: pointer;
        }
      }
    }
  }
}

.content-wrapper {
  background-image: url("../images//authbg.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;

  .auth-left-content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 60%;
    text-align: left;
    @media screen and (max-width: 992px) {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h3 {
      position: relative;
      font-size: 23px;
      font-weight: bold;
      padding-bottom: 20px;

      &:after {
        content: "";
        left: 0;
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 4px;
        background: $bg-white;
      }

      &::before {
        content: "";
        left: 0;
        bottom: 0;
        position: absolute;
        width: 70%;
        height: 4px;
        background: $bg-orange;
        z-index: 1;
      }
    }

    p {
      font-size: 18px;
    }
  }
}
//----- Auth-section CSS End

//----- Admin-content CSS Start
.admin-content {
  background: #f7f7f9;
  min-height: 83vh;
  transition: 0.2s;

  .inner-content {
    margin-left: 260px;
    background-color: #f8f9fa;
    padding-bottom: 50px !important;
    padding-top: 35px !important;
    transition: 0.2s;

    @media screen and (max-width: 992px) {
      margin-left: 0;
    }
  }

  .expand-inner-content {
    margin-left: 90px;
    transition: 0.2s;

    @media screen and (max-width: 992px) {
      margin-left: 0;
    }
  }
}
//----- Admin-content CSS End

//----- header-part CSS - Start
.header-part {
  background-color: $bg-white;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgb(231 235 241);
  z-index: 1;

  .lg-header {
    margin-left: 256px;
    transition: 0.2s;

    @media screen and (max-width: 992px) {
      margin-left: 0;
    }
  }
  .navbar-expand-lg {
    box-shadow: 0px 0px 10px 0px rgb(231, 235, 241);
  }

  .expand-header {
    margin-left: 85px;

    @media screen and (max-width: 992px) {
      margin-left: 0;
    }
  }

  .header-title {
    margin-left: 60px;

    h4 {
      margin-bottom: 0;
      font-weight: 600;
    }
  }

  .dropdown {
    .dropdown-toggle {
      &:after {
        display: none;
      }
    }

    .dropdown-menu {
      position: absolute;
      left: initial;
      right: 0;
      max-width: 250px;
      width: 250px;
      white-space: normal;
      box-shadow: 0px 0px 10px 0px rgb(231 235 241);
      border: none;
      background-color: $bg-white;
      padding: 10px 15px;

      h4 {
        font-size: 16px;
        font-weight: 600;
      }

      .dropdown-item {
        white-space: normal;
        margin-bottom: 5px;
        padding: 8px;
        font-weight: 500;

        &:hover {
          color: $text-primary;
          background-color: $bg-white;
        }
      }
    }
  }
}
.header-select {
  background-color: #f7f7f9;
  padding-top: 10px;

  .custom-select {
    line-height: 10px;
  }
}
//----- Header Profile
.profile-container {
  text-align: center;
  .profile-img {
    img {
      border: 2px solid #ccc;
      padding: 4px;
    }
  }
}

.text-muted {
  font-size: 0.9rem;
}
//----- Header Profile
//----- header-part CSS - End

//----- Sidebar CSS - Start
.sidebar {
  position: fixed;
  width: 256px;
  top: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 9;
  gap: 6px;
  background-color: $bg-white;
  padding: 15px 0;
  transition: all 0.3s;
  box-shadow: 0px 0px 10px 0px rgb(231, 235, 241);
  transition: 0.2s;
  .head {
    height: 45px;
    color: $text-white;
  }
  .nav {
    justify-content: center;

    .menu {
      width: 100%;
    }
  }

  hr {
    color: $border-dark01;
    margin: 0;
    margin-top: 5px;
  }

  .menu-btn {
    position: absolute;
    right: -50px;
    top: 18px;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $text-black;

    @media screen and (max-width: 767px) {
      right: 15px;
      color: $text-white;
    }

    svg {
      transition: all 0.3s;
    }
  }

  .menu {
    overflow-y: auto;
    max-height: 80vh;

    &::-webkit-scrollbar {
      width: 0.3em;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(221, 221, 221, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $bg-primary;
      outline: 1px solid $bg-primary;
    }

    &:not(:last-child) {
      padding-bottom: 10px;
      margin-bottom: 8px;
      border-bottom: 2px solid #f6f6f6;
    }

    ul {
      padding-left: 0;

      li {
        position: relative;
        list-style: none;
        margin-bottom: 5px;
        width: 100%;

        .text {
          flex: 1;
        }

        a {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          font-weight: 500;
          color: $text-black;
          text-decoration: none;
          padding: 12px 18px;
          border-radius: 0;
          transition: all 0.1s;
          text-align: left;
          &:hover {
            background-color: $bg-orange-light;
            border-left: 4px solid $border-orange;
          }
        }

        &.active {
          .arrow {
            transform: rotate(90deg);
            transition: all 0.2s;
          }

          .sub-menu {
            li {
              a {
                color: $text-black;
                background-color: $bg-white;
              }
            }
          }
        }
      }
    }

    .sub-menu {
      display: none;
      padding: 5px 10px;
      transition: all 0.3s;
      max-height: 300px;
      overflow: hidden;

      li {
        a {
          padding: 10px 8px;
          font-size: 14px;
          width: 100%;

          &:hover {
            color: $text-white;
            background-color: $bg-primary;
          }

          span.text {
            padding-left: 20px;
            position: relative;

            &:before {
              content: "";
              left: 0;
              top: 10px;
              position: absolute;
              width: 10px;
              height: 2px;
              background: $bg-white;
            }
          }
        }

        &.active {
          a {
            color: $text-white;
            background-color: $bg-primary;
          }
        }
      }
    }

    .sub-menu.show {
      display: block;
    }
  }
}

.sidebar.active {
  width: 90px;

  @media screen and (max-width: 992px) {
    display: none;
  }

  .menu-btn {
    svg {
      transform: rotate(180deg);
    }
  }

  .user-details {
    display: block;
  }

  .menu {
    overflow-y: inherit;

    ul {
      li {
        .arrow {
          display: none;
        }
        a {
          &:hover {
            border: none;
            background-color: $bg-orange;
            color: $text-white;
          }
        }
      }
    }

    > ul,
    .has-dropdown {
      > li {
        width: 40px;
        margin: 5px auto;

        &.active {
          > a {
            .text {
              display: none;
            }
          }
        }

        > a {
          position: relative;
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          margin-bottom: 15px;

          .text {
            position: absolute;
            left: 70px;
            top: 50%;
            transform: translateY(-50%);
            padding: 10px;
            border-radius: 4px;
            color: $text-white;
            background-color: $bg-dark01;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            min-width: max-content;

            &:after {
              content: "";
              position: absolute;
              left: -5px;
              top: 20%;
              width: 20px;
              height: 20px;
              border-radius: 2px;
              transform: rotate(45deg);
              z-index: -1;
            }
          }

          &:hover {
            .text {
              left: 50px;
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }

    .sub-menu {
      position: absolute;
      top: 0;
      left: 66px;
      width: 200px;
      border-radius: 0;
      z-index: 1;
      padding: 10px 20px;
      border: 1px solid $border-white;
      background-color: $bg-white;
      box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);

      li {
        a {
          color: $text-black !important;
          padding: 5px 0;
          background-color: transparent !important;

          span.text {
            &:before {
              background: $bg-black;
            }
          }

          &:hover {
            background-color: transparent;
            color: $text-primary !important;

            span.text {
              &:before {
                background: $bg-primary;
              }
            }
          }
        }
      }
    }
  }
}
//----- Sidebar CSS - End

//----- Table Container CSS Start
.table-container {
  padding: 1rem;
  background-color: $bg-white;
  box-shadow: 0px 0px 10px 0px rgb(231 235 241);
  max-width: 100%;
  margin-top: 20px;
  border-radius: 8px;

  &::-webkit-scrollbar {
    width: 1em;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(221, 221, 221, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $bg-light;
    outline: 1px solid rgb(221, 228, 234);
  }

  .static-table-sortig {
    span {
      display: flex;
      align-items: center;
      gap: 10px;

      input {
        margin-top: 0;

        &:focus {
          box-shadow: none;
          outline: none;
        }
      }
    }

    select {
      padding: 10px;
      border: 1px solid $border-light;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      option {
        border: none;
      }
    }
  }
}

.table-main {
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 1em;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(221, 221, 221, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $bg-light;
    outline: 1px solid rgb(221, 228, 234);
  }
}

.search-bar {
  position: relative;

  .search-icon {
    position: absolute;
    right: 4px;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 14px;

  th,
  td {
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid $border-light;
    text-align: left;
  }

  th {
    background-color: $bg-white;
    padding: 0.75rem;
    color: $text-black;
    white-space: pre;
  }

  td {
    padding: 5px 13px 5px 13px;
    color: $text-black;
    font-weight: 400;
    height: 6vh;
  }

  .btn-secondary {
    font-size: 16px;
    padding: 3px 10px;
  }

  .action-dropdown {
    position: static;

    .dropdown-toggle {
      background-color: $bg-white !important;
      border: none !important;
      font-size: 18px;
      color: $text-black !important;
      padding: 03px 15px;

      &:hover {
        box-shadow: none;
      }

      &:after {
        display: none;
      }
    }

    .dropdown-menu {
      left: initial;
      right: 0;
      white-space: normal;
      box-shadow: 0px 0px 10px 0px rgb(231, 235, 241);
      border: none;
      background-color: $bg-white;
      padding: 2px 8px;

      .dropdown-item {
        font-size: 16px;
        color: $text-black;
        white-space: normal;

        // margin-bottom: 5px;

        padding: 8px;
        font-weight: 500;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 8px;

        &.edit-item {
          .btn-icon-style {
            background-color: $bg-primary;
            color: $text-white;
          }
        }

        &.delete-item {
          .btn-icon-style {
            background-color: $bg-danger;
            color: $text-white;
          }
        }

        &.assign-item {
          .btn-icon-style {
            background-color: $bg-sidebar;
            color: $text-white;
          }
        }

        &.unassign-item {
          .btn-icon-style {
            background-color: $bg-danger;
            color: $text-white;
          }
        }

        .btn-icon-style {
          width: 30px;
          height: 30px;
          line-height: 30px;
          border-radius: 5px;
          text-align: center;
        }

        &:hover {
          background-color: transparent;
        }

        &:active {
          background-color: transparent;
        }
      }
    }
  }

  .pending-status {
    margin-bottom: 0;
    display: inline-block;
    font-weight: 550;
    font-size: 11px;
    background-color: $bg-info;
    border-radius: 0.25rem;
    color: $text-white;
    padding: 0.16rem 0.45rem;
  }

  .approved-status {
    margin-bottom: 0;
    display: inline-block;
    font-weight: 550;
    font-size: 11px;
    background-color: $bg-success;
    border-radius: 0.25rem;
    color: $text-white;
    padding: 0.16rem 0.45rem;
  }
}

.global-filter,
.column-filter {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid $border-light;
  width: 100%;
}
//----- Table Container CSS End

//----- Form Wrap CSS Start
.form-wrap {
  text-align: left;
  padding: 20px;
  background-color: $bg-white;
  box-shadow: 0px 0px 10px 0px rgb(231, 235, 241);
  border-radius: 8px;

  .form-group {
    margin-bottom: 15px;

    .form-control {
      line-height: 1.7;
    }
  }

  label {
    font-size: 14px;
    color: $text-grey-light;
    font-weight: 500;
  }

  input {
    height: 38px;
    color: $text-black;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid $border-light;

    &:focus {
      outline: none;
      box-shadow: none;
      border-color: $text-primary;
    }
  }

  .form-control.is-valid,
  .was-validated .form-control:valid {
    background-color: transparent !important;
    border-color: $text-primary;
    color: $text-black !important;
    box-shadow: none;
  }

  input:-webkit-autofill {
    background-color: $bg-white !important;
    -webkit-box-shadow: 0 0 0px 1000px $bg-white inset !important;
    color: $text-black !important;
  }

  input:-webkit-autofill:focus {
    background-color: $bg-white !important;
    -webkit-box-shadow: 0 0 0px 1000px $bg-white inset !important;
  }

  .form-check-input.is-valid ~ .form-check-label,
  .was-validated .form-check-input:valid ~ .form-check-label {
    color: $text-black;
  }

  .form-check-input.is-valid:checked,
  .was-validated .form-check-input:valid:checked {
    background-color: transparent;
  }

  .form-control.is-invalid:focus,
  .was-validated .form-control:invalid:focus {
    box-shadow: none;
  }

  select {
    height: 38px;
    color: $text-black;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid $border-light;

    &:focus {
      outline: none;
      box-shadow: none;
      border-color: $text-primary;
    }
  }

  textarea {
    color: $text-black;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid $border-light;

    &:focus {
      outline: none;
      box-shadow: none;
      border-color: $text-primary;
    }
  }

  .form-check {
    input {
      width: 15px;
      height: 15px;
      margin-top: 5px;
    }
  }
  .form-check-input:checked {
    background-color: $bg-orange;
    border-color: $border-orange;
  }

  .custom-radio {
    input[type="radio"] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: transparent;
      border: 2px solid $border-light;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      position: relative;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:checked {
        border-color: $border-primary;
      }

      &:checked::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: $bg-orange;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        border-color: $border-primary;
      }
    }
  }
  //-----Table Container  CSS ---start--
  .table-container {
    padding: 0 !important;
    background-color: $bg-white;
    box-shadow: none;
    max-width: 100%;
    margin-top: 20px;
    border-radius: 8px;

    &::-webkit-scrollbar {
      width: 1em;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(221, 221, 221, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $bg-light;
      outline: 1px solid rgb(221, 228, 234);
    }

    .static-table-sortig {
      span {
        display: flex;
        align-items: center;
        gap: 10px;

        input {
          margin-top: 0;

          &:focus {
            box-shadow: none;
            outline: none;
          }
        }
      }

      select {
        padding: 6px;
        border: 1px solid $border-light;

        &:focus {
          outline: none;
          box-shadow: none;
        }

        option {
          border: none;
        }
      }
    }
  }
  .custom-calender {
    .react-calendar {
      margin-top: 35px;
      box-shadow: none;
    }
  }
}
//------ Form Wrap CSS End

//----- View Page Assign Card CSS Start
.assign-card {
  text-align: left;
  padding: 20px;
  background-color: $bg-white;
  box-shadow: 0px 0px 10px 0px rgb(231, 235, 241);
  border-radius: 8px;

  h6 {
    font-size: 14px;
  }

  span {
    font-size: 14px;
  }
}
//----- View Page Assign Card CSS End

//------ Custom Select, Multiselect CSS Start
.p-component {
  input {
    border: none;
  }

  .p-multiselect-header {
    justify-content: end;

    .p-multiselect-select-all {
      display: none;
    }
  }

  .p-dropdown-items-wrapper {
    .p-dropdown-items {
      padding-left: 0px !important;
    }
  }

  .p-multiselect-items {
    padding-left: 0px !important;
  }

  .p-highlight {
    background-color: $bg-orange !important;
    color: $text-white;
  }

  .p-checkbox.p-highlight .p-checkbox-box {
    border-color: #bcd4d4;
    background-color: $bg-orange;
  }

  .p-checkbox:not(.p-disabled):has(.p-checkbox-input:hover) .p-checkbox-box {
    border-color: $bg-light;
  }
}
//------ Custom Select, Multiselect CSS End

// ----- Pagination CSS Start
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: $bg-light;
    border: $border-light;
  }
  button {
    margin: 0 5px;
    padding: 5px 15px;
    border: 1px solid $bg-orange;
    background: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    &:hover {
      background-color: $bg-orange;
      color: $text-white;
    }
    &.active {
      background-color: $bg-orange;
      color: $text-white;
    }
  }
}
// ----- Pagination CSS End

// ----- No Data Found CSS Start
.noData-Img {
  width: 250px;
}
// ----- No Data Found CSS End

//-------Dashbaord CSS Start
.lg-col-static {
  width: 20%;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.welcome-card {
  background-image: url("../images//welcomedash.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  height: 170px;
  color: $text-white;
  box-shadow: 0px 0px 10px 0px rgb(231, 235, 241);
  @media screen and (max-width: 767px) {
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
  }

  .welcome-card-body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    .welcome-heading {
      font-size: 2rem;
      font-weight: bold;
      @media screen and (max-width: 767px) {
        font-size: 1.2rem;
      }
    }

    .welcome-description {
      font-size: 1.2rem;
      @media screen and (max-width: 767px) {
        font-size: 1rem;
      }
    }
  }
}

/* Stat card style */
.stat-card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: $bg-white;
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-5px);
  }
  .card-body {
    padding: 12px 12px;
  }
  h4 {
    font-size: 30px;
  }
  p {
    font-size: 12px;
  }
}

/* Hover card effect */
.hover-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
//-------Dashbaord CSS End

//------- Custom React Calendar CSS...start
.custom-calender {
  .react-calendar {
    width: 100%;

    border: none;

    box-shadow: 0px 0px 10px 0px rgb(231, 235, 241);

    border-radius: 8px;
  }

  .react-calendar {
    .react-calendar__navigation {
      height: auto;

      padding: 10px;
    }

    .react-calendar__navigation__label {
      width: 75%;
      color: $text-black;
      margin: 0px 10px 0px 10px;

      border-radius: 8px;

      font-weight: 600;
    }

    .react-calendar__navigation__arrow {
      padding: 10px 10px 12px 10px;

      font-size: 30px;

      border-radius: 8px;
    }

    .react-calendar__navigation__prev2-button,
    .react-calendar__navigation__next2-button {
      background-color: $bg-orange;

      color: $text-white;
    }

    .react-calendar__navigation__prev2-button:hover,
    .react-calendar__navigation__next2-button:hover {
      background-color: $bg-orange;
    }

    .react-calendar__navigation__prev-button {
      background-color: $bg-grey-light;

      color: $text-black;

      margin-left: 10px;
    }

    .react-calendar__navigation__next-button {
      background-color: $bg-grey-light;

      color: $text-black;

      margin-right: 10px;
    }

    .react-calendar__month-view__weekdays {
      background-color: $bg-grey-light;

      padding: 5px;

      .react-calendar__month-view__weekdays__weekday {
        abbr {
          text-decoration: none;
        }
      }
    }
    .react-calendar__tile--now {
      background-color: $bg-orange-light;

      &:enabled {
        &:hover,
        &:focus {
          background-color: $bg-orange-light;
        }
      }
    }

    .react-calendar__viewContainer {
      overflow: scroll;

      .react-calendar__month-view {
        @media screen and (max-width: 767px) {
          width: 200%;
        }

        @media screen and (max-width: 542px) {
          width: 300%;
        }
      }
    }

    .react-calendar__month-view__days {
      .react-calendar__tile {
        padding: 0px;
        border: 0.1px solid $bg-grey-light;
        text-align: start;
        height: 70px;

        &:not(.react-calendar__tile--active):not(
            .react-calendar__tile--now
          ):hover {
          background-color: transparent;
        }

        abbr {
          padding: 3px;
          margin-left: 8px;
          font-weight: 600;
          font-size: 15px;
        }

        .shift-content {
          font-size: 11px;
          padding: 4px;
        }
      }

      .react-calendar__tile--active {
        background-color: transparent;

        color: $text-black;
      }

      .react-calendar__tile--now {
        background-color: $bg-grey-light;
      }
    }
  }
}

/* Black color for weekends (Saturday and Sunday) */
.weekend-date {
  color: $text-black !important;
}

/* Regular dates */
.regular-date {
  color: $text-black !important;
}

.week-off-date {
  color: #d61010;
}

.weekend-date {
  color: $text-black;
}

.regular-date {
  color: $text-dark01;
}

.evening-date {
  color: $text-evening !important;
}

.night-date {
  color: $text-night;
}
//------ Custom React Calendar CSS...End

//----- Footer Main CSS Start
.footer-main {
  width: 100%;

  .copyright {
    margin-left: 256px;
    background-color: $bg-white;
    border-top: 1px solid $border-light;

    @media screen and (max-width: 992px) {
      margin-left: 0;
    }

    p {
      font-size: 16px;
      font-weight: 500;

      a {
        color: $text-primary;
        text-decoration: none;
      }
    }
  }

  .expand-copyright {
    margin-left: 80px;

    @media screen and (max-width: 992px) {
      margin-left: 0;
    }
  }
}
//----- Footer Main CSS End

// .MuiChartsLegend-root {
//   display: none;
// }

/* ShiftScheduleBoardSec.css */

.employee-shift-main {
  .right-content {
    @media screen and (max-width: 991px) {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
  }
  .shift-table-container {
    overflow: hidden;
    overflow-x: auto;
    .shift-schedule-table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;
      border: 1px solid #e5e7eb;
      background-color: white;
      .sticky-header {
        // align-items: center;
        // gap: 10px;
        // justify-content: center;
        // position: sticky;
        // top: 0;
        // background-color: white;
        // z-index: 2;
        border-bottom: 1px solid #e5e7eb;
        padding: 1rem;
        text-align: center;
        .date {
          font-size: 35px;
        }
      }
      .sticky-column {
        // position: sticky;
        // left: 0;
        // background-color: white;
        // z-index: 1;
        width: 200px;
        min-width: 190px;
        border-right: 1px solid #e5e7eb;
        padding: 12px;
        .employee-name {
          p {
            font-size: 14px;
            font-weight: 600;
          }
        }
        .employee-role {
          font-size: 12px;
          color: $text-grey-light;
        }
      }
    }
  }
}

.shift-cell {
  border-width: 0.1px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  padding: 0;
  min-width: 130px;
}

.shift-info {
  padding: 0.5rem;
  text-align: center;
  background: $bg-white;
  margin: 2px 3px;
  border-radius: 5px;
  min-height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .shift-name {
    color: $text-dark01;
  }
  .shift-time {
    color: $text-grey-light;
  }
}

.shift-name {
  font-size: 0.875rem;
  font-weight: 600;
}

.shift-time {
  font-size: 0.75rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-section {
  color: #666;
}

.modal-label {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.modal-value {
  font-size: 1.125rem;
}

.modal-subtext {
  font-size: 0.875rem;
}

.modal-close-btn {
  padding: 0.5rem 1rem;
  background-color: #e5e7eb;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal-close-btn:hover {
  background-color: #d1d5db;
}

//
/* ShiftScheduleBoardSec.css */
